build/
dist/
model*
test/
Output/
test/
.env
app_icon.ico
build.sh
debug_cascaded_output.jpg
encrypt_models.py
generate_icon.py
installer.nsi
local.py
model_upload.py
PokerVisionBot.spec
train.ipynb
train.py